node_modules/
.pnp
.pnp.js

dist/
dist-ssr/
build/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local



*.local
vite.config.ts.timestamp-*

*.tsbuildinfo

coverage/
.nyc_output/

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates
*.swp
*.swo
.DS_Store
Thumbs.db

logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

/**/bin/
/**/obj/
/**/*.user
/**/*.suo
/**/.vs/
/**/Properties/launchSettings.json

/**/appsettings.Production.json
/**/appsettings.Development.json

